<main>
  <div class="alert">
    <p class="alert--text">Username: master@lemoncode.net</p>
    <p class="alert--text">Password: 12345678</p>
  </div>
  <mat-card class="card">
    <mat-card-content>
      <mat-card-header>Welcome! Login to access the app</mat-card-header>
      <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
        <p *ngIf="showError" class="error">{{ loginErr }}</p>
        <div class="btn">
          <div *ngIf="spinner" class="spinner">
            <mat-progress-spinner [mode]="mode"></mat-progress-spinner>
          </div>
          <button mat-raised-button type="submit">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</main>
