.footer {
  width: 98.5vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
    position: relative;
    bottom: 0;
    overflow-x: hidden;
}