.footer {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgoldenrod;
  color: white;
  position: absolute;
  bottom: 0;
}